div.page-background
    div.container.counter_container
        div.counter_header We Will Release OSF Academy
        div.counter_text We are working hard and estimated release time products below. Sed ac tristique nunc, ut gravida nunc. Nulla consequat erat non lectus imperdiet.
        div.counter_wrapper
            div.counter_item 
                div.counter_chart
                div.counter_digits 00
                span.counter_name Months
            div.counter_item 
                div.counter_chart
                div.counter_digits 00
                span.counter_name Days
            div.counter_item 
                div.counter_chart
                div.counter_digits 00
                span.counter_name Hours
            div.counter_item 
                div.counter_chart
                div.counter_digits 00
                span.counter_name Minutes
            div.counter_item 
                div.counter_chart
                div.counter_digits 00
                span.counter_name Seconds