main.container.home_container
    div.row.narrow_row
        div.col-lg-8.owl-carousel.owl-theme.carousel_banner
            div.item.slide 
                div.slide_content
                    span.slide__header Control and manage any device with cloud solutions
                    span.slide__text Improve business performance and the user experience with the right mix of IoT technology and processes
                    button.view-more_button(title="view-more") 
                        a.view-more_link(href="./category-landing.html") VIEW MORE
            div.item.slide 
                div.slide_content.slide_center-alignment
                    span.slide__header Control and manage any device with cloud solutions 2
                    span.slide__text Improve business performance and the user experience with the right mix of IoT technology and processes
                    button.view-more_button(title="view-more") 
                        a.view-more_link(href="./category-landing.html") VIEW MORE
            div.item.slide 
                div.slide_content.slide_right-alignment
                    span.slide__header Control and manage any device with cloud solutions 3
                    span.slide__text Improve business performance and the user experience with the right mix of IoT technology and processes
                    button.view-more_button(title="view-more") 
                        a.view-more_link(href="./category-landing.html") VIEW MORE
            div.item.slide 
                div.slide_content
                    span.slide__header Control and manage any device with cloud solutions 4
                    span.slide__text Improve business performance and the user experience with the right mix of IoT technology and processes
                    button.view-more_button(title="view-more") 
                        a.view-more_link(href="./category-landing.html") VIEW MORE
            div.item.slide 
                div.slide_content
                    span.slide__header Control and manage any device with cloud solutions 5
                    span.slide__text Improve business performance and the user experience with the right mix of IoT technology and processes
                    button.view-more_button(title="view-more") 
                        a.view-more_link(href="./category-landing.html") VIEW MORE
        div.col-lg-3.sale_banner
            div.sales-content_color-1
                span.sale__big-text 55% 
                span.sale__text Summer sales
            div.sales-content_color-2
                span.sale__text_medium Follow us on Facebook
                span.sale__text_small Sed ut perspiciatis unde omnis iste natus error sit
                button.follow_button
                    i.follow_icon.fab.fa-facebook-f
                    a.follow_link(href="https://www.facebook.com") Follow
    div.section_header__block
        span.section_header Popular Items
    div.row.popular-items_row
        div.col-lg-3.popular-item.home-item-background
            img.item-image(src="images/home-1.png" alt="")
            div.item-text_container
                span.item-text Kristina Dam Oak Table With White Marble Top
                span.price  $ 799.55
            div.popular-item_hover
                button.plus.addToMinicart(title="add")
                button.like.addToWishlist(title="like")
        div.col-lg-3.popular-item.home-item-background.buy-now
            a.popular-item_link(href="./product-detailed.html")
                img.item-image(src="images/home-2.png" alt="")
            div.item-text_container
                a.popular-item_link(href="./product-detailed.html")
                    span.item-text Hay - About A Lounge Chair AAL 93
                button.buy-now__button.button-left(title="buy-now")
                    a.popular-item_link(href="./product-detailed.html")
                        span.price  $659.55
                button.buy-now__button.addToMinicart.button-right(title="buy-now")
                    span.button-slogan buy now
        div.col-lg-3.popular-item.home-item-background
            img.item-image(src="images/home-3.png" alt="")
            div.item-text_container
                span.item-text Activate Facial Mask and Charcoal Soap 
                span.price  $ 129.55
            div.popular-item_hover
                button.plus.addToMinicart(title="add")
                button.like.addToWishlist(title="like")
        div.col-lg-3.popular-item.home-item-background
            img.item-image(src="images/home-4.png" alt="")
            div.item-text_container
                span.item-text Cocktail Table Walnut 
                | &#x7c; YES
                span.price  $ 299.99
            div.popular-item_hover
                button.plus.addToMinicart(title="add")
                button.like.addToWishlist(title="like")
        div.col-lg-3.popular-item.home-item-background
            img.item-image(src="images/home-5.png" alt="")
            div.item-text_container
                span.item-text Hay - About A Lounge Chair AAL 93
                span.price  $ 659.55
            div.popular-item_hover
                button.plus.addToMinicart(title="add")
                button.like.addToWishlist(title="like")
        div.col-lg-3.popular-item.home-item-background
            img.item-image(src="images/home-6.png" alt="")
            div.item-text_container
                span.item-text TORY DESK CALENDAR 
                span.price  $ 410.99
            div.popular-item_hover
                button.plus.addToMinicart(title="add")
                button.like.addToWishlist(title="like")
        div.col-lg-3.popular-item.home-item-background
            img.item-image(src="images/home-7.png" alt="")
            div.item-text_container
                span.item-text CH445 Wing Chair on SUITE NY
                span.price  $ 330.55
            div.popular-item_hover
                button.plus.addToMinicart(title="add")
                button.like.addToWishlist(title="like")
        div.col-lg-3.popular-item.item-background-8
            div.item-text_container
                span.item-text My dragons are misbehaving again. Unbelieveable! 
                div.icons-merged
                    i.user-merged.fas.fa-user
                    i.comment-merged.far.fa-comment
                    span.notification 5h ago
    button.load-more_button(id="load-more" title="load-more") 
        span.load-more_text LOAD MORE
div.row.banner
    div.banner_text__container
        span.banner_header Banner OSF Theme
        span.banner_text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
div.container.featured-products
    span.featured-products_header Featured Products
    span.featured-products_text Unde omnis iste natus error sit voluptatem
    div.horizontal-line
        span.horizontal-line__text ///
        div.nav-symbol_prev(type="button" role="presentation") <
        div.nav-symbol_next >
    div.row.owl-carousel.owl-theme.featured-products_row
        div.col-lg-3.item.featured-products_slide.item-background-9
            div.item-text_container
                span.item-text Kristina Dam Oak Table With White Marble
                span.feature  Awesome
        div.col-lg-3.item.featured-products_slide.item-background-10
            div.item-text_container
                span.item-text Kristina Dam Oak Table With White Marble
                span.feature  Marketing
        div.col-lg-3.item.featured-products_slide.item-background-11
            div.item-text_container
                span.item-text Kristina Dam Oak Table With White Marble
                span.feature  Awesome
        div.col-lg-3.item.featured-products_slide.item-background-12
            div.item-text_container
                span.item-text Hezy Theme
                span.feature  Marketing
        div.col-lg-3.item.featured-products_slide.item-background-13
            div.item-text_container
                span.item-text Extra Slide 1
                span.feature  Marketing
        div.col-lg-3.item.featured-products_slide.item-background-14
            div.item-text_container
                span.item-text Extra Slide 2
                span.feature  Marketing
        div.col-lg-3.item.featured-products_slide.item-background-15
            div.item-text_container
                span.item-text Extra Slide 3
                span.feature  Marketing
        div.col-lg-3.item.featured-products_slide.item-background-16
            div.item-text_container
                span.item-text Extra Slide 4
                span.feature  Marketing
        div.col-lg-3.item.featured-products_slide.item-background-9
            div.item-text_container
                span.item-text Extra Slide 12
                span.feature  Marketing
        div.col-lg-3.item.featured-products_slide.item-background-10
            div.item-text_container
                span.item-text Extra Slide 22
                span.feature  Marketing
        div.col-lg-3.item.featured-products_slide.item-background-11
            div.item-text_container
                span.item-text Extra Slide 32
                span.feature  Marketing
        div.col-lg-3.item.featured-products_slide.item-background-12
            div.item-text_container
                span.item-text Extra Slide 42
                span.feature  Marketing
div.container.info_container
    div.row.info_row
        div.col-lg-4.info_column
            i.info__icon.fas.fa-dolly
            span.info__header Focus
            span.info__text Our unwavering focus on superior service delivery and building next generation competencies
        div.col-lg-4.info_column
            i.info__icon.fas.fa-recycle
            span.info__header method
            span.info__text A standardized methodology designed to deliver measurable business results and predictable costs
        div.col-lg-4.info_column
            i.info__icon.fas.fa-clipboard-check
            span.info__header Knowledge
            span.info__text A highly skilled, proactive workforce that reliably improves each client’s ROI while mitigating their business risk
