script(src="css/font-awesome.js")
script(src="scripts/jquery.min.js")
srcipt(src="https://code.jquery.com/jquery-3.1.1.min.js")
script(src="scripts/easyzoom.js")
script(src="scripts/timer.js")
script(src="scripts/easyzoom-initialization.js")
script(src="scripts/jquery.selectric.min.js")
script(src="scripts/selectric-initialization.js")
script(src="scripts/owl.carousel.min.js")
script(src="scripts/owl-carousel-adjustment.js")
script(src="scripts/ajax-call-homepage.js")
script(src="scripts/global-script.js")
script(src="scripts/scripts-initialization.js")