doctype html
html(lang="en")
    head
        title OSF
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
        link(rel="stylesheet" href="css/styles.css" type="text/css")
    body.body.home_main_wrapper
        include general/header.pug
        include pages/home.pug
        include general/footer.pug
        include general/global-script.pug
