doctype html
html(lang="en")
    head
        title OSF
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="css/styles.css" type="text/css")
    body.body
        include general/header.pug
        include pages/pop-ups.pug
        include general/footer.pug
        include general/global-script.pug
        
